<div class="bar bar-header bar-light">
  <h1 id="app-title" class="title animated rollIn">Gestures</h1>
</div>


<ion-content class="has-header" scroll="false">
<button id="{{mode.id}}" ng-repeat="mode in menuCtrl.modes" class="button button-block button-{{mode.color}} animated fadeInLeftBig" ng-class="[mode.class]"
        ng-click="menuCtrl.goToMode(mode)">{{mode.name}}</button>
</ion-content>

<ion-footer-bar>
    <h1 class="title animated bounceInUp" id="total-score"> {{menuCtrl.myTotalScore}} € </h1>
</ion-footer-bar>