<div class="bar bar-header bar-{{levelsCtrl.mode.color}} animated rotateInDownLeft" ng-class="[levelsCtrl.theme.topBar.color]">
    <h1 class="title" id="app-score">{{levelsCtrl.progress}} %</h1>
    <gs-back-button></gs-back-button>
</div>

<ion-content class="has-header padding-horizontal-large light-bg animated fadeInLeftBig" ng-class="[levelsCtrl.theme.background.color]"
             id="game-board" scroll="true" scrollbar-y="false" scrollbar-x="false" start-y="levelsCtrl.scrollToCurrentLevel()">

    <button ng-repeat="level in levelsCtrl.levels" ng-disabled="!levelsCtrl.unlockedLevels[level.id].unlocked"
            ng-class="{'ion-android-lock': !levelsCtrl.unlockedLevels[level.id].unlocked,
                        'ion-arrow-right-b': levelsCtrl.isCurrentLevel(levelsCtrl.unlockedLevels[level.id])}"
            id="{{level.id}}"
            class="icon-left button button-block padding button-small button-{{level.color}} button-margin-top-down animated fadeIn"
            ng-click="levelsCtrl.goToLevel(level)">
        {{level.name}} 
    </button>

</ion-content>